.container{
    width: 800px;
    display : block;
    margin-left : auto;
    margin-right : auto;
}

.left-manu{
    width: 80%;
    height: 200px;
    /* background: aqua; */
    float: left;
}
.right-box{
    width: 20%;
    height: 200px;
    /* background: gray; */
    float: left;
}
.lotso-p{
    width: 40px;
    float: left;
}

.name{
    float: left;
}

.contents{
    clear: both;
}

.navbar{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.navbar li{
    display: inline-block;
    width:  60px;
    text-align: center;
    background: #eee;
    padding: 10px;

}
.navbar a{
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    border-radius: 5px;
}